=form_for @comedian, validates: true do |f|
  -if @comedian.errors.any?
    .card.mx-4
      %div{style: 'color: red'}
        %h2
          = t('application.can_not_be_saved')
        %ul
          -  @comedian.errors.each do |error|
            %li= error.full_message

  .form-group.mx-4 
    = f.label :first_name, class: "form-label required"
    .div.w-25 
      = f.text_field :first_name, autofocus: true, class: "form-control"

  .form-group.mx-4 
    = f.label :last_name, class: "form-label required"
    .div.w-25 
      = f.text_field :last_name, autofocus: true, class: "form-control"

  .form-group.mx-4 
    = f.label :id_number, class: "form-label required"
    .div.w-25 
      = f.number_field :id_number, autofocus: true, class: "form-control"

  .form_group.mx-4
    = f.label :level, class: "form-label required"
    .div.w-25
      = f.select(:level, options_for_select(levels, @comedian.level), {prompt: t('application.select')}, class: "form-control")

  .form-group.mx-4
    = f.label :manager, class: "form-label required"
    .div.w-25
      = f.select(:manager_id, options_for_select(@managers, @comedian.manager), {prompt: t('application.select')}, class: "form-control")
      

  .row.mt-4 
    .offset-1.col-1
      = link_to t('application.back'), comedians_path, class: "btn btn-secondary btn-block" 
    .col-2
      = button_tag t('application.save'), class: "btn btn-outline-success btn-block"
