%h1= t('application.show_model', model: t('activerecord.modules.comedian.one'))

.div.m-4 
  .card 
    .card-body 
      %h5.card-title
        = t('activerecord.attributes.comedian.first_name')
      %p.card-text= @comedian.first_name
      %h5.card-title
        = t('activerecord.attributes.comedian.last_name')
      %p.card-text= @comedian.last_name
      %h5.card-title
        = t('activerecord.attributes.comedian.id_number')
      %p.card-text= @comedian.id_number
      %h5.card-title
        = t('activerecord.attributes.comedian.level')
      %p.card-text= @comedian.level
      %h5.card-title
        = t('activerecord.attributes.comedian.manager.first_name')
      %p.card-text= @comedian.manager.first_name

  .row.nt-4 
    .offset-3.col-3
      = link_to t('application.back'), comedians_path, class: "btn btn-secondary"
    .col-3
      = link_to t('application.edit'), edit_comedian_path(@comedian), class: "btn btn-success"
