= form_for @contract do |f|
  - if @contract.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contract.errors.count, "error")} prohibited this contract from being saved:"
      %ul
        - @contract.errors.full_messages.each do |message|
          %li= error.full_message
              

  .form-group.mx-4 
    = f.label :location, class: "form-label required"
    .div.w-25 
      = f.text_field :location, autofocus: true, class: "form-control"


  .row.mt-4 
    .offset-3.col-3 
      = link_to t('application.back'), contracts_path, class: "btn btn-secondary btn-block"
    .col-3 
      = button_tag t('application.save'), class: "btn btn-outline-success btn-block"
