%p{:style => "color: green"}= notice
.div.m-4
  .page.header
    %h1.mb-4
      = t('application.list_of', model: t('activerecord.modules.history.other'))
    .float-end.pb-4
      = link_to t('application.create'), new_history_path, class: "btn btn-primary" 

%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.attributes.history.version')
      %th= t('activerecord.attributes.history.comedian')
      %th= t('activerecord.attributes.history.contract')
      %th
      %th
      %th
  %tbody
    - @histories.each do |history|
      %tr
        %td= history.version
        %td= history.comedian.first_name.concat(' ').concat(history.comedian.last_name)
        %td= history.contract.location
        %td= link_to t('application.show'), history, class: "btn btn-info"
        %th= link_to t('application.edit'), edit_history_path(history), class: "btn btn-success"
        %td= button_to t('application.delete'), history , method: :delete, class: "btn btn-danger"