%h1= t('activerecord.modules.event.one')

%p#notice= notice

.div.m-4
  .card
    .card-body
      %h5.card-title
        = t('activerecord.attributes.event.name')
      %p.card-text= @event.name
      %h5.card-title
        = t('activerecord.attributes.event.comedian')
      %p.card-text= @event.comedian.first_name

.row.mt-4
  .offset-3.col-3
    = link_to t('application.back'), events_path, class: "btn btn-secondary"
  .col-3
    = link_to t('application.edit'), edit_event_path(@event), class: "btn btn-success"
    