.div.m-4
  %h1.mb-4
    = "Crud disponibles"

.float-start.m-4
  = link_to "Comediantes", comedians_path, class: 'btn btn-success'

.float-start.m-4
  = link_to "Eventos", events_path, class: 'btn btn-success'

.float-start.m-4
  = link_to "Contratos", contracts_path, class: 'btn btn-success'

.float-start.m-4
  = link_to "Historial", root_path, class: 'btn btn-success'
