.div.m-4
  %h1.mb-4
    = "Crud disponibles"

.float-start.m-4
  = link_to t('activerecord.modules.comedian.other'), comedians_path, class: 'btn btn-danger'

.float-start.m-4
  = link_to t('activerecord.modules.event.other'), events_path, class: 'btn btn-success'

.float-start.m-4
  = link_to t('activerecord.modules.history.one'), histories_path, class: 'btn btn-primary'

.float-start.m-4
  = link_to t('activerecord.modules.contract.other'), contracts_path, class: 'btn btn-dark'
